<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405647221734-d3kh948infefcfmo9fjhlhfkqi6kg016.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405647221734-d3kh948infefcfmo9fjhlhfkqi6kg016</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-UIc9SYXY01AZWYwxjRcy_cB4PUWI88</string>
	<key>GCM_SENDER_ID</key>
	<string>405647221734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.wang.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-e29c7</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-e29c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405647221734:ios:a671d8cc64611a97d7ec27</string>
</dict>
</plist>